# Batch  processing

## Sample tasks

In [1]:
import findspark
findspark.init()
import pyspark
import random

from pyspark.sql import SparkSession

sc = pyspark.SparkContext(appName="SPARK_API")
spark = SparkSession(sc)

In [2]:
# Number of passengers in each class in the Titanic dataset:

from pyspark.sql.functions import count

df = spark.read.option("header", "true").option("inferSchema", "true").csv("titanic.csv")

passengerCounts = df.groupBy("Pclass").agg(count("*").alias("count"))

passengerCounts.show()

+------+-----+
|Pclass|count|
+------+-----+
|     1|  216|
|     3|  491|
|     2|  184|
+------+-----+

In [3]:
# Number of passengers per age group (e.g. 0-10 years, 11-20 years, etc.) and per class:


from pyspark.sql.functions import count, when

df = spark.read.option("header", "true").option("inferSchema", "true").csv("titanic.csv")

ageRanges = [(0, 10), (11, 20), (21, 30), (31, 40), (41, 50), (51, 60), (61, 70), (71, 80)]

ageRangesDf = df
for lower, upper in ageRanges:
    ageRangesDf = ageRangesDf.withColumn(f"AgeRange_{lower}_to_{upper}", when(df.Age.between(lower, upper), 1).otherwise(0))

passengerCountsByAge = ageRangesDf.groupBy("Pclass") \
                                 .agg(count(when(ageRangesDf.AgeRange_0_to_10 == 1, True)).alias("0-10"),
                                      count(when(ageRangesDf.AgeRange_11_to_20 == 1, True)).alias("11-20"),
                                      count(when(ageRangesDf.AgeRange_21_to_30 == 1, True)).alias("21-30"),
                                      count(when(ageRangesDf.AgeRange_31_to_40 == 1, True)).alias("31-40"),
                                      count(when(ageRangesDf.AgeRange_41_to_50 == 1, True)).alias("41-50"),
                                      count(when(ageRangesDf.AgeRange_51_to_60 == 1, True)).alias("51-60"),
                                      count(when(ageRangesDf.AgeRange_61_to_70 == 1, True)).alias("61-70"),
                                      count(when(ageRangesDf.AgeRange_71_to_80 == 1, True)).alias("71-80"))

passengerCountsByAge.show()

+------+----+-----+-----+-----+-----+-----+-----+-----+
|Pclass|0-10|11-20|21-30|31-40|41-50|51-60|61-70|71-80|
+------+----+-----+-----+-----+-----+-----+-----+-----+
|     1|   3|   18|   40|   49|   37|   25|   11|    3|
|     3|  44|   79|  128|   61|   28|    5|    3|    1|
|     2|  17|   18|   61|   43|   19|   12|    3|    0|
+------+----+-----+-----+-----+-----+-----+-----+-----+

In [4]:
# Number of passengers by gender in each class

from pyspark.sql.functions import count

df = spark.read.option("header", "true").option("inferSchema", "true").csv("titanic.csv")

passengerCountsBySex = df.groupBy("Pclass", "Sex").agg(count("*").alias("count"))

passengerCountsBySex.show()

+------+------+-----+
|Pclass|   Sex|count|
+------+------+-----+
|     2|female|   76|
|     3|  male|  347|
|     1|  male|  122|
|     3|female|  144|
|     1|female|   94|
|     2|  male|  108|
+------+------+-----+

In [5]:
# Determine the number of passengers between survivors and non-survivors

from pyspark.sql.functions import count

df = spark.read.option("header", "true").option("inferSchema", "true").csv("titanic.csv")

survivorsCounts = df.groupBy("Survived").agg(count("*").alias("count"))

survivorsCounts.show()

+--------+-----+
|Survived|count|
+--------+-----+
|       1|  342|
|       0|  549|
+--------+-----+

In [6]:
# Average age of passengers by gender and by class:

from pyspark.sql.functions import avg

df = spark.read.option("header", "true").option("inferSchema", "true").csv("titanic.csv")

avgAgeBySexAndClass = df.groupBy("Pclass", "Sex").agg(avg("Age").alias("avg_age"))

avgAgeBySexAndClass.show()

+------+------+------------------+
|Pclass|   Sex|           avg_age|
+------+------+------------------+
|     2|female|28.722972972972972|
|     3|  male|26.507588932806325|
|     1|  male| 41.28138613861386|
|     3|female|             21.75|
|     1|female| 34.61176470588235|
|     2|  male| 30.74070707070707|
+------+------+------------------+

In [7]:

from pyspark.sql.functions import avg

df = spark.read.option("header", "true").option("inferSchema", "true").csv("titanic.csv")

avgAgeBySurvival = df.groupBy("Survived").agg(avg("Age").alias("avg_age"))

avgAgeBySurvival.show()

+--------+------------------+
|Survived|           avg_age|
+--------+------------------+
|       1|28.343689655172415|
|       0| 30.62617924528302|
+--------+------------------+

In [8]:
# Az első osztályú utasok átlagéletkora

from pyspark.sql.functions import avg

df = spark.read.option("header", "true").option("inferSchema", "true").csv("titanic.csv")

avgAgeFirstClass = df.filter(df.Pclass == 1).agg(avg("Age").alias("avg_age"))

avgAgeFirstClass.show()

+------------------+
|           avg_age|
+------------------+
|38.233440860215055|
+------------------+

In [9]:
# Az utasok átlagéletkora osztályonként és túlélési állapot szerint

from pyspark.sql.functions import avg

df = spark.read.option("header", "true").option("inferSchema", "true").csv("titanic.csv")

avgAgeByClassAndSurvival = df.groupBy("Pclass", "Survived").agg(avg("Age").alias("avg_age"))

avgAgeByClassAndSurvival.show()

+------+--------+------------------+
|Pclass|Survived|           avg_age|
+------+--------+------------------+
|     1|       0|        43.6953125|
|     3|       1|20.646117647058823|
|     1|       1| 35.36819672131148|
|     2|       1| 25.90156626506024|
|     2|       0|33.544444444444444|
|     3|       0|26.555555555555557|
+------+--------+------------------+

## Gyakorló feladatok

In [ ]:
# A legidősebb és a legfiatalabb utasok korának meghatározása.

Elvárt output:

```
+--------+--------+  
|min(Age)|max(Age)|  
+--------+--------+  
|    0.42|    80.0|  
+--------+--------+    
```

In [ ]:
# Az első osztályú, 30 év feletti nők és férfiak számának meghatározása

Elvárt output:

```
Elso osztalyu, 30 ev feletti nok szama: 50
Elso osztalyu, 30 ev feletti ferfiak szama: 75
```

In [ ]:
# Az utasok túlélési aránya hajókabinok alapján.

Elvárt output:

```
+-------+------------------+
|  Cabin|      SurvivalRate|
+-------+------------------+
|    A23|               1.0|
|    B79|               1.0|
|    E44|               0.5|
|  F E69|               1.0|
|    D28|               1.0|
|    C78|               0.5|
|    C95|               0.0|
|  F G73|               0.0|
|B58 B60|               0.5|
|     D7|               1.0|
|   C128|               0.0|
|    B39|               1.0|
|    B22|               0.5|
|   C110|               0.0|
|    D21|               1.0|
|     F2|0.6666666666666666|
|    B30|               0.0|
|   C104|               1.0|
|    B50|               1.0|
|     A6|               1.0|
+-------+------------------+
only showing top 20 rows
```

In [ ]:
# Az utasok túlélési esélye a behajzóás helye alapján. (C = Cherbourg; Q = Queenstown; S = Southampton)

Elvárt output:

```
+--------+-------------------+
|Embarked|       SurvivalRate|
+--------+-------------------+
|       Q|0.38961038961038963|
|    null|                1.0|
|       C| 0.5535714285714286|
|       S|0.33695652173913043|
+--------+-------------------+
```

In [ ]:
# A leggyakoribb 10 éves korcsoport meghatározása az utasok között.Kerekítsünk lefelé. 0-ás, 10-es, 20-as, stb..

Elvárt output:

```
+-----------+-----+
|Age_rounded|count|
+-----------+-----+
|       30.0|  201|
|       20.0|  200|
|       40.0|  120|
|       50.0|   73|
|        0.0|   40|
|       10.0|   38|
|       60.0|   31|
|       70.0|   10|
|       80.0|    1|
|       null|    0|
+-----------+-----+
```

In [ ]:
# Az utasok túlélési aránya a leggyakoribb korcsoportban.

Elvárt output:

```
+-----------+-----+-------------------+
|Age_rounded|count|        AvgSurvived|
+-----------+-----+-------------------+
|       30.0|  201| 0.3880597014925373|
|       20.0|  200|              0.365|
|       40.0|  120|              0.425|
|       50.0|   73|  0.410958904109589|
|        0.0|   40|              0.675|
|       10.0|   38|0.47368421052631576|
|       60.0|   31| 0.3870967741935484|
|       70.0|   10|                0.0|
|       80.0|    1|                1.0|
|       null|    0| 0.2937853107344633|
+-----------+-----+-------------------+
```

In [ ]:
# Az utasok életkorának és osztályának átlaga túlélés szerint.

Elvárt output:

```
+--------+------------------+------------------+
|Survived|          avg(Age)|       avg(Pclass)|
+--------+------------------+------------------+
|       1|28.343689655172415|1.9502923976608186|
|       0| 30.62617924528302|2.5318761384335153|
+--------+------------------+------------------+
```

In [ ]:
# Az utasok számának összesítése, osztályonként és nemek szerint.

Elvárt output:

```
+------+------+------------------+
|Pclass|   Sex|count(PassengerId)|
+------+------+------------------+
|     2|female|                76|
|     3|  male|               347|
|     1|  male|               122|
|     3|female|               144|
|     1|female|                94|
|     2|  male|               108|
+------+------+------------------+
```

In [ ]:
# A túlélési arány kiszámítása azon utasok között, akiknek ismeretlen a hajókabinjuk agy az életkoruk.

Elvárt output:

```
+-------------------+
|      avg(Survived)|
+-------------------+
|0.29985443959243085|
+-------------------+
```

In [ ]:
# Az utasok számának összesítése, akiknek nem ismert a hajókabinjuk, osztályonként és túlélési állapot szerint.

Elvárt output:

```
+------+--------+------------------+
|PClass|Survived|count(PassengerId)|
+------+--------+------------------+
|     1|       0|                21|
|     3|       1|               113|
|     1|       1|                19|
|     2|       1|                74|
|     2|       0|                94|
|     3|       0|               366|
+------+--------+------------------+
```